.form-group>label.error {
	display: block !important;
	text-transform: none;
}

.form-group input.valid ~ label.error, .form-group input[type="text"] ~
	label.error, .form-group input[type="email"] ~ label.error, .form-group input[type="number"] 
	~ label.error, .form-group select ~ label.error {
	display: none !important;
}

.calories-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.labelfont {
	font-size: 16px;
}

.introduce {
	width:100%;
	height: 300px;
}

#recipecontainer {
	display: flex;
	justify-content: space-between;
}

#textcontainer {
	width: 100%;
}

#imgcontainer {
	width: 400px;
}

#ingrinputcontainer{
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.plusbtncontain {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.recipeinsertcontainer {
	display: flex;
	margin: 20px 0 20px 10px;
	width: 100%;
}

.recipeinsert {
	width: 100%;
}

.recipeimg {
	width: 30%;
}

#tip {
	margin-top: 40px;
}

#tiptext {
	font-size: 20px;
}