#recipeseqcontainer{
	margin: 30px 0 30px 0;
}

#writercontain{
	text-align: center;
}

.writerimg{
	width:300px;
	height:300px;
	border-radius: 50%;
}

.ingrcontainer{
	display:flex;
	justify-content: start;
	align-items:center;
}

.ingrcontainer:hover{
	cursor: pointer;
	opacity: 0.5;
}

.detailIngr {
	color: #444;
}

.ingrimg{
	width:50px;
	height:50px;
	border-radius: 50%;
}

.ingrcenter{
	width: 80%;
	margin-left: 5%;
}

.ingrcount {
	width:40%;
}

.relrecipecontainer{
	display:flex;
	align-items:center;
	justify-content: between-space;
	margin-bottom: 20px;
}

.relrecipeimg{
	width:200px;
	margin-right:20px;
}

.recipeimg{
	width:40%;
}

.recipeseq{
	display: flex;
	margin-bottom: 30px;
}

.recipeseq > div {
	width: 60%;
}

#ingrcontainer{
	display:flex;
	justify-content: center;
	margin-top: 30px;
}

#ingrimg{
	display:flex;
	justify-content:center;
	width:150px;
	height:150px;
	border-radius:50%; 
}

.anmo{
	display: flex;
	justify-content: end;
}

.childcomm{
	display: flex;
}

.ingrtitle{
	background:#40403D;
	width:100px;
	color:#fff;
	text-align: center;
	border-radius:5px;
	margin: 10px 10px 10px 0;
}

.ingrcontent{
	margin: 10px 10px 10px 0;
}

#modalbtn{
	display: flex;
	justify-content: center;
}

#btncontainer{
	display: flex;
	justify-content: end;
	margin-right: 30px;
}

.childcomm {
	display: none;
	width: 100%;
}

.childinput{
	display: flex;
	width: 100%;
}

.labelfont{
	width: 50px;
}

.labelfont {
	font-size: 16px;
}

.comm_answer:hover {
	color: #1ABC9C;
	cursor: pointer;
}

.comm_icon {
	margin-top: 8px;
}

.comm_modify:hover {
	color: #1ABC9C;
	cursor: pointer;
}

.input_container {
	width: 100%;
}

.comm_input {
	margin-top: 15px;
	width:100%;
	
}

.comm_btn {
	display: flex;
	justify-content: end;
}

@media (min-width: 576px){
	.modal-dialog {
	    max-width: 1000px;
	    margin: 1.75rem auto;
	}
}