#recipeseqcontainer{
	margin: 30px 0 30px 0;
}

#writercontain{
	text-align: center;
}

.writerimg{
	width:300px;
	height:300px;
	border-radius: 50%;
}

.ingrcontainer{
	display:flex;
	justify-content: start;
	align-items:center;
}

.ingrcontainer:hover{
	cursor: pointer;
	opacity: 0.5;
}

.ingrimg{
	width:50px;
	height:50px;
	border-radius: 50%;
}

.ingrcenter{
	margin: 0 150px 0 15px;
}

.relrecipecontainer{
	display:flex;
	align-items:center;
	justify-content: between-space;
	margin-bottom: 20px;
}

.relrecipeimg{
	width:200px;
	margin-right:20px;
}

.recipeimg{
	width:40%;
}

.recipeseq{
	display: flex;
}

@media (min-width: 576px){
	.modal-dialog {
	    max-width: 1000px;
	    margin: 1.75rem auto;
	}
}

#ingrcontainer{
	display:flex;
	justify-content: center;
	margin-top: 30px;
}

#ingrimg{
	display:flex;
	justify-content:center;
	width:150px;
	height:150px;
	border-radius:50%; 
}

.ingrdetailcontainer{
	
}

.ingrtitle{
	background:#40403D;
	width:100px;
	color:#fff;
	text-align: center;
	border-radius:5px;
	margin: 10px 10px 10px 0;
}

.ingrcontent{
	margin: 10px 10px 10px 0;
}

#modalbtn{
	display: flex;
	justify-content: center;
}

#btncontainer{
	display: flex;
	justify-content: end;
	margin-right: 30px;
}

